<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/public/img/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="~/public/img/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/public/img/lightbox.css" />
    <link rel="stylesheet" type="text/css" href="~/public/img/jquery.mCustomScrollbar.min.css" />
    <link rel="stylesheet" type="text/css" href="~/public/img/owl.carousel.css" />
    <link rel="stylesheet" type="text/css" href="~/public/img/reset.css" />
    
    <link rel="stylesheet" type="text/css" href="~/public/img/style.css" />
    <link rel="stylesheet" type="text/css" href="~/public/img/query.css" />

    
    

</head>
<body>
    <div>
        @RenderBody()
    </div>    
    <script type="text/javascript" src="~/public/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/public/js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="~/public/js/isonsc.min.js"></script>
    <script type="text/javascript" src="~/public/js/lightbox.min.js"></script>
    <script type="text/javascript" src="~/public/js/jquery.smooth-scroll.js"></script>
    <script type="text/javascript" src="~/public/js/roundslider.js"></script>
    <script type="text/javascript" async src="https://platform.twitter.com/widgets.js"></script>
    <!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBx8FO37fvYqiPVC2rU7FQGniGWUyx6-4&v=3.exp&sensor=false&callback=initialize"></script>-->

    <script type="text/javascript" src="~/public/js/validate/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/public/js/validate/additional-methods.min.js"></script>
    <script type="text/javascript" src="~/public/js/validate/localization/messages_tr.min.js"></script>
    <script type="text/javascript" src="~/public/js/validate/jquery-validate.bootstrap-tooltip.js"></script>

    <script type="text/javascript" src="~/public/js/fastclick.js"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    
    <script type="text/javascript" src="~/public/js/script.js"></script>
</body>
</html>

