@{
    ViewBag.Title = "Şifremi Unuttum";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.slider = false;
}
<div class="container">
    <h2>Şifremi Unuttum</h2>
    <div>
        <form class="form-first" id="sifremi_unuttum_form">
            <div class="item">
                <input type="text" name="email" placeholder="e-Mail Adresiniz" required />
            </div>
            <div class="item" style="text-align:right;">
                <button class="btn-first">Şifre Gönder</button>
            </div>
        </form>
    </div>
</div>
<style>
    form#sifremi_unuttum_form input{
        width:100%;
        padding:10px 20px;
        border-radius:10px;
        border:none;
        margin:20px 0;
    }
</style>
<script type="text/javascript">
    $(function () {
        $("header").addClass("ic-sayfa");
        $("h2").addClass("active");

        $('#sifremi_unuttum_form').validate({
            rules: {
                email: { email: true }
            },
            submitHandler: function (form) {
                sifre_send($(form));
            }
        });
    });


    function sifre_send(form) {
        $.post('@Url.Action("sifremiUnuttum")', form.serialize(), function (data) {
            if (data.IsSuccess == true) {
                alert(data.Message);
            }
            else {
                alert(data.Message);
            }
        });
    }
</script>

