@media (max-width:1500px) {
    .sidebar ul li a {
        padding: 5px;
    }
    .sidebar ul li a i {
        width: 21px;
    }
    #map {
        height: 317px;
    }
    .gorev-list .item .img {
        padding: 50px 0;
    }
    .gorev-list .item .part .baslik {
        width: 30%;
    }
    .gorev-listesi ul {
        margin: 3px 0;
        color: #1b1c1f;
    }
    .gorev-listesi {
        margin-top: 15px;
    }
    .mailbox {
        margin-top: 15px;
    }
    .gorev-list .item .part .yazi {
        font-size: 14px;
    }
}
@media (max-width:1366px) {
    .sidebar .sub-menu .linked {
        margin: 0 5px;
    }
    .sidebar ul li {
        height: auto;
    }
    .sidebar ul li a {
        padding: 5px ;
        font-size: 14px;
    }
    .gorev-listesi .head {
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        font-size:13px;
    }
    .gorev-listesi .head .baslik1{
        width: 10%;
    }
    .gorev-listesi .head .baslik2{
        width: 30%;
    }
    .gorev-listesi .head .baslik3{
        width: 30%;
    }
    .gorev-listesi .head .baslik4{
        width: 30%;
    }
    .gorev-listesi ul li a {
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-align:center;
            -ms-flex-align:center;
                align-items:center;
        font-size:13px;
    }
    .gorev-listesi ul li a .icon{
        width:10%;
    }
    .gorev-listesi ul li a .yazi{
        width:30%;
    }
    .gorev-listesi ul li a .bas-tar{
        width:30%;
    }
    .gorev-listesi ul li a .bit-tar{
        width:30%;
    }
    .gorev-listesi ul li {
        margin-bottom: 4px;
    }
    .dashboard-tabs .proje-list li .baslik1 {
        width: 10%;
    }
    .dashboard-tabs .proje-list li .baslik2 {
        width: 30%;
    }
    .dashboard-tabs .proje-list li .baslik3 {
        width: 30%;
    }
    .dashboard-tabs .proje-list li .baslik4 {
        width: 30%;
    }
    .dashboard-tabs .proje-list .icon {
        width: 10%;
    }
    .dashboard-tabs .proje-list .yazi {
        width: 30%;
    }
    .dashboard-tabs .proje-list li .bas-tar {
        width: 30%;
        margin-right:0
    }
    .dashboard-tabs .proje-list li .bit-tar {
        width: 30%;
    }
    .ilan-list .ust-filtre select, .ilan-list .ust-filtre input {
        width: 66%;
    }
    .ilan-list .head h4 {
        font-size: 13px;
    }
    .ust-filtre select, .ust-filtre input {
        width: 66%;
    }
    .gorev-list .item .part .baslik {
        display: block;
        width: 100%;
    }
    .gorev-list .item .part .yazi::before {
        content: ":";
        display:none;
    }
    .gorev-list .item .part {
        height: 65px;
    }
}
@media (max-width:1200px) {
    .sidebar ul li a {
        padding: 5px 10px;
    }
    h4 {
        margin: 10px 0;
    }
    hr {
        margin: 10px 0;
    }
    .gorev-listesi .head .baslik3 {
        display: none;
    }
    .gorev-listesi ul li a .bas-tar {
        display:none;
    }
    .gorev-listesi .head .baslik2 {
        width: 60%;
    }
    .gorev-listesi ul li a .yazi {
        width: 60%;
    }
    .dashboard-tabs .proje-list li .baslik3 {
        display: none;
    }
    .dashboard-tabs .proje-list li .bas-tar {
        display:none;
    }
    .dashboard-tabs .proje-list li .baslik2 {
        width: 60%;
    }
    .dashboard-tabs .proje-list .yazi {
        width: 60%;
    }
    .ilan-list .ust-filtre select, .ilan-list .ust-filtre input {
        width: 55%;
    }
    .ust-filtre select, .ust-filtre input {
        width: 57%;
    }
}
@media (max-width:992px) {
    .sidebar {
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 99;
        left: -100%;
        -o-transition: .3s;
        transition: .3s;
        -webkit-transition: .3s;
    }
    .sidebar.active {
        left: 0%;
    }
}
@media (max-width: 768px) {

}
@media (max-width:650px) {
    .ilan-list .head h4 {
        font-size: 11px;
        margin: 10px 0;
    }
    .sidebar ul li {
        height: 37px;
    }
    .sidebar .kisi h3 {
        margin: 15px 0;
    }
    .ust-filtre {
        height: auto;
    }
    .ust-filtre select, .ust-filtre input {
        width: 100%;
        margin-bottom: 15px;
    }
    .ust-filtre a {
        width: 32%;
    }
    #harita {
        margin-top: 15px;
    }
    .istatistik .item {
        margin-bottom: 15px;
    }
    .istatistik .item .icon {
        top: 13px;
    }
    .dashboard-tabs .tab-list a.item {
        font-size: 12px;
        margin: 0 10px;
    }
    #burger-menu {
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
    }
}

@media (max-height:500px) {

}
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {

}
@media only screen and (max-width: 768px) and (min-width: 320px) and (orientation: landscape){
	.land {
		width: 100%;
		position: fixed;
		z-index: 99999999999999999999999;
		height: 100%;
		display: block !important;
		top: 0;
		left: 0;
		background-image: url('http://www.linguistanbul.com.tr/wp-content/themes/tema/img/rotate.jpg');
		background-repeat: no-repeat;
		background-size: cover;
	}
}